fieldset.skyscraper-fieldset {
	margin: 10px auto;
}

.skyscraper {
	min-height: 200px;
}

.timeline-list-item, .question-list-item {
	margin: 5px auto;
	padding: 5px;
	border-bottom: 1px dotted @blueDark;

	&:hover {
		background: darken(@blueDark, 50%);
	}
}

.tags-list {
	display: inline;
}

.tags-list-item {
	display: inline;
}

.tags-list-item > .label {
	margin: 1px;
}

div.row-fluid div.select2-container {
	width: 97.5%;
}